Debug
Release
bin
obj
*.pdb
*.obj
*.suo
*.csproj.user
*.vbproj.user
*.dtproj.user
*.vspscc
Thumbs.db
ImageCache
*.Publish.xml
*Test-Results.xml
!Shared/NUnit/bin
Test/*.dll
Test/*.xml
*.lst
_ReSharper.*/
*resharper.user
_ReSharper*
*.resharper.user
*.resharper
Docs/DocumentationProject/buildhelp/*
Docs/DocumentationProject/Help/html/*
Test/*
